<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Actions</key>
    <array>
        <dict>
            <key>Shell Script File</key>
            <string>ssh.appl</string>
            <key>Script Interpreter</key>
            <string>/usr/bin/osascript</string>
            <key>Title</key>
            <string>S</string>
            <key>Regular Expression</key>
            <string>(\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b)</string>
        </dict>
    </array>
    <key>Extension Identifier</key>
    <string>com.twoshortplanks.popclip.ssh</string>
    <key>Extension Name</key>
    <string>ssh</string>
    <key>Required Software Version</key>
    <integer>701</integer>
</dict>
</plist>
